USE [master]
GO
/****** Object:  Database [Air.Ticket.Management]    Script Date: 9/10/2025 1:08:56 AM ******/
CREATE DATABASE [Air.Ticket.Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Air.Ticket.Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Air.Ticket.Management.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Air.Ticket.Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Air.Ticket.Management_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Air.Ticket.Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Air.Ticket.Management]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 9/10/2025 1:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[userPassword] [nvarchar](50) NOT NULL,
	[userEmail] [nvarchar](50) NOT NULL,
	[userAddress] [nvarchar](50) NOT NULL,
	[userGender] [nvarchar](50) NOT NULL,
	[userIdType] [int] NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserType]    Script Date: 9/10/2025 1:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[userIdType] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userIdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_UserType] FOREIGN KEY([userIdType])
REFERENCES [dbo].[UserType] ([userIdType])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_UserType]
GO
USE [master]
GO
